<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Service -->
	
	<bean id="iBudgetProService" class="com.rural.budgetpro.service.BudgetProService" scope="prototype">
		<property name="budgProCatgDAO" ref="BudgProCatgDAO"></property>
		<property name="budgProUpriceDAO" ref="BudgProUpriceDAO"></property>
	</bean>
	
	<!-- Action -->
	<bean id="BudgetProAction" class="com.rural.budgetpro.action.BudgetProAction" scope="prototype">
		<property name="iBudgetProService" ref="iBudgetProService"/>
	</bean>	

</beans>