<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Service -->
	
	<bean id="IExpertService" class="com.rural.expert.service.ExpertService" scope="prototype">
		<property name="catgDAO" ref="ExpertMajorCatgDAO"></property> 
		<property name="expertDAO" ref="ExpertDAO"></property> 
		<property name="sexdao" ref="SexDAO"></property>
		<property name="citydao" ref="CityBasicInfoDAO"></property>
		<property name="sysuserDao" ref="SysUserDAO"></property>
		<property name="sysroleDao" ref="SysRoleDAO"></property>
		<property name="sysroleuserDAO" ref="SysRoleUserDAO"></property>
		<property name="evalExpertDistdao" ref="EvalExpertDistDAO"></property>
	</bean>
	
	<!-- Action -->
	<bean id="ExpertAction" class="com.rural.expert.action.ExpertAction" scope="prototype">
		<property name="expertService" ref="IExpertService"/>
	</bean>	

</beans>