<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Service -->
	
	<bean id="countryfilService" class="com.rural.govfile.service.CountryFilService" scope="prototype">
		<property name="govefilclfyDAO" ref="GoveFilClfyDAO"></property> 
		<property name="countryfilDAO" ref="CountryFilDAO"></property> 
		<property name="countryBasicInfoDAO" ref="CountryBasicInfoDAO"></property> 
	</bean>
	
	<bean id="citysfilService" class="com.rural.govfile.service.CitysFilService" scope="prototype">
		<property name="govefilclfyDAO" ref="GoveFilClfyDAO"></property> 
		<property name="citysfilDAO" ref="CitysFilDAO"></property> 
		<property name="cityBasicInfoDAO" ref="CityBasicInfoDAO"></property> 
		
	</bean>
		
	<bean id="townfilService" class="com.rural.govfile.service.TownFilService" scope="prototype">
		<property name="govefilclfyDAO" ref="GoveFilClfyDAO"></property> 
		<property name="townfilDAO" ref="TownFilDAO"></property> 
		<property name="townBasicInfoDAO" ref="TownBasicInfoDAO"></property> 
	</bean>
	
	<bean id="vilfilService" class="com.rural.govfile.service.VilFilService" scope="prototype">
		<property name="govefilclfyDAO" ref="GoveFilClfyDAO"></property> 
		<property name="vilfilDAO" ref="VilFilDAO"></property> 
		<property name="vilBasicInfoDAO" ref="VilBasicInfoDAO"></property> 
	</bean>
	<bean id="selBeloDiviService" class="com.rural.select.service.SelBeloDiviService" scope="prototype">
		<property name="vilBasicInfoDAO" ref="VilBasicInfoDAO"></property>
		<property name="townBasicInfoDAO" ref="TownBasicInfoDAO"></property>
		<property name="countryBasicInfoDAO" ref="CountryBasicInfoDAO"></property>
		<property name="cityBasicInfoDAO" ref="CityBasicInfoDAO"></property>
	</bean>
	
	<!-- Action -->
	<bean id="CountryFilAction" class="com.rural.govfile.action.CountryFilAction" scope="prototype">
		<property name="countryfilService" ref="countryfilService"/>
	</bean>	

	<bean id="CitysFilAction" class="com.rural.govfile.action.CitysFilAction" scope="prototype">
		<property name="citysfilService" ref="citysfilService"/>
	</bean>	
	
	<bean id="TownFilAction" class="com.rural.govfile.action.TownFilAction" scope="prototype">
		<property name="townfilService" ref="townfilService"/>
	</bean>	
	
	<bean id="VilFilAction" class="com.rural.govfile.action.VilFilAction" scope="prototype">
		<property name="vilfilService" ref="vilfilService"/>
	</bean>	
	<bean id="SelBeloDiviAction" class="com.rural.select.action.SelBeloDiviAction" scope="prototype">
		<property name="selBeloDiviService" ref="selBeloDiviService"/>
	</bean>	
</beans>